################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MK_TreasureChest
/.vs/ProjectEvaluation
SwitchController-Client/obj/
SwitchController-Client/bin/
MK_Plugins/bin/
MK_Plugins/obj/
/SwitchController-Client-MAUI/obj
SwitchController-Client/Properties/PublishProfiles/FolderProfile.pubxml.user
SwitchController-Client-MAUI/bin/
